<header>
  <a href="https://webduino.io" target="_blank">
    <img class="logo" src="media/logo3.png" id="logo" alt="Webduino Blockly">
    <h1 id="blocklyHeader">
      Web:Bit 教育版<span id="saveStatus">{{changesSaved}}</span>
    </h1>
  </a>
  <div id="tab_menu">
    <div id="tab_toggle">
      <div id="tab_blocks" class="tabon"><i class="icon-puzzle-outline"></i><span>積木</span></div>
      <div id="tab_javascript" class="taboff"><i class="icon-code-outline"></i><span>程式碼</span></div>
    </div>
    <div id="tab_control">
      <div id="fileButton" class="notext toolMenu">
        <i class="icon-folder2 small"></i><span>檔案</span>
        <div class="subMenu">
          <a id="eduImportButton">
            <i class="icon-upload-outline small"></i><span>開啟</span>
          </a>
          <a id="eduExportButton">
            <i class="icon-download-outline small"></i><span>儲存</span>
          </a>
            <input type="file" style="display:none;" id="eduImportInput">
          {{!-- <a id="linkButton">
            <i class="icon-attachment-outline small"></i><span>分享</span>
          </a> --}}
        </div>
      </div>
      <div id="sampleButton" class="notext toolMenu">
        <i class="icon-document-text small"></i><span>範例</span>
      </div>
      <div id="tutorialsButton" class="notext toolMenu">
        <a href="https://tutorials.webduino.io/" target="_blank"><i class="icon-book2 small"></i><span>教學</span></a>
      </div>
      <div id="trashButton" class="notext toolMenu">
        <i class="icon-trash1 small"></i><span>清空</span>
      </div>
      <div id="runButton" class="notext primary toolMenu">
        <i class="icon-media-play-outline"></i><span>執行</span>
      </div>
    </div>
  </div>
  <div id="userMenu" style="display:none;">
    <a href="https://webduino.io/" target="_blank">
      <i class="icon-home" style="font-size:16px; bottom: -1px;"></i> <b>{{userMenuWebSite}}</b>
    </a>
    <a href="https://tutorials.webduino.io/zh-tw/docs/basic/index.html?utm_source=cloud-blockly&utm_medium=userMenu&utm_campaign=tutorials"
      target="_blank">
      <i class="icon-book"></i> <b>{{userMenuTutorials}}</b>
    </a>
    <span><i class="icon-earth"></i> <select id="languageMenu"></select></span>
  </div>
</header>
<div id="notification">
  <div class="box">
    <img src="media/notification-01.png" />
    <h4>{{notification_title}}</h4>
    <div class="record"></div>
    <div class="note-menu">
      <button id="note-close-btn">{{notification_close}}</button>
      <span id="note-check"><i class="icon-checkbox-unchecked"></i><b>{{notification_remind}}</b></span>
    </div>
  </div>
</div>
<div id="openModal" class="modalDialog">
  <div>
    <a href="#" title="Close" class="close">X</a>
    <img id="qrImg" class="qrcode" src="media/logo.png">
    <div class="linkContainer">
      <a href="" id="qrLink" target="_blank">{{linkQrcode}}</a>
    </div>
  </div>
</div>
<div id="blockFilter">
  <a class="filterBtn selected">All</a>
</div>
<div id="functionSelector">
  <a id="tab_custom" data-active="false"><i class="icon-cog"></i></a>
</div>
<table class="nav" id="mainTable">
  <tr style="display:none;">
    <td>
      <table width="100%">
        <tr id="tabRow">
          <td id="copyCode" style="display:none;" data-clipboard-target="#content_javascript" data-tooltip="{{copyToClipboard}}"
            class="toolMenu">
            <i class="icon-copy"></i>
          </td>
          <td class="tabmax" style="display:none;">
            <a href="#" id="qrButton" class="linkButton toolMenu">
              <i class="icon-qrcode"></i>
              <div>{{qrcodeTooltip}}</div>
            </a>
            <a href="launcher.html" target="_blank" id="linkToBin" class="linkButton toolMenu">
              <i class="icon-embed2"></i>
              <div>{{openJsbin}}</div>
            </a>
            <div id="check-device-online" class="toolMenu">
              <input id="input-device" class="">
              <span id="check-btn" class="check-btn">
                <i class="icon-power" id="check-icon"></i>
              </span>
              <div>{{checkDeviceOnline}}</div>
            </div>
            <button id="demoButton" class="notext toolMenu">
              <i class="icon-lab"></i>
              <div>{{demoTooltip}}</div>
            </button>
            <button id="simulatorButton" class="notext toolMenu">
              <i class="icon-library"></i>
              <div>{{simulatorTooltip}}</div>
            </button>
            <button id="linkButton" class="notext toolMenu">
              <i class="icon-link"></i>
              <div>{{linkTooltip}}</div>
            </button>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="99%" id="content_area"></td>
  </tr>
</table>

<div id="content_blocks" class="content"></div>
<pre id="content_javascript" class="content"></pre>
<div id="content_custom" class="content">
  <ul class="custom-tab">
    <li class="tab-trigger active" data-tab="export">{{tabExport}}</li>
    <li class="tab-trigger" data-tab="custom">{{tabCustom}}</li>
  </ul>
  <div class="custom-content">
    <div class="tab-content" data-tab="export">
      <div class="form-import">
        <h2>{{importTitle}}</h2>
        <hr>
        <p>{{importDescription}}</p>
        <input id="chooseFile" type="file" onchange="document.getElementById('chooseFileName').innerHTML = this.value.split('\\')[this.value.split('\\').length-1]; document.getElementById('importFileBtn').className='btn btn-import-blocks show-import-file-button';"
          accept=".xml">
        <button id="importFileBtn" class="btn-import">{{importButton}}</button>
        <button id="chooseFileBtn" class="btn-import" onclick="document.getElementById('chooseFile').click();">{{chooseFileButton}}</button>
        <button id="importFromUrlBtn" class="btn-import" style="display:none">{{importFromUrlButton}}</button>
        <span id="chooseFileName"></span>
      </div>
      <div class="form-export">
        <h2>{{exportTitle}}</h2>
        <hr>
        <p>{{exportDescription}}</p>
        <a id="btn-export-blocks" class="btn-import">{{exportButton}}</a>
      </div>
    </div>
    <div class="tab-content" data-tab="custom">
      <h2>{{customTitle}}</h2>
      <span class="text-custom-description"></span>
      <ul>
        <li>{{customNotice1}}</li>
        <li>{{customNotice3}}</li>
      </ul>
      <div class="block-def-wrapper"></div>
      <form class="form-custom-blocks">
        <input type="text" class="input-custom-blocks">
        <button type="submit" class="btn btn-add-block" id="importBlocklyJSON">{{customButton}}</button>
        <p class="info"></p>
      </form>
    </div>
  </div>
</div>
<div id="sample-menu" tabindex="0">
  <div id="sample-menu-close-btn"><i class="icon-times"></i></div>
  <div id="sample-menu-bg">
    <div id="sample-menu-content">
      <h3>基礎操作</h3>
      <div data-source="samples/s0-01.json"><img data-src="samples/img/s0-01.jpg"><span>小怪獸講話</span></div>
      <div data-source="samples/s0-02.json"><img data-src="samples/img/s0-02.jpg"><span>點擊小怪獸就會放大</span></div>
      <div data-source="samples/s0-03.json"><img data-src="samples/img/s0-03.jpg"><span>鍵盤控制小怪獸</span></div>
      <div data-source="samples/s0-04.json"><img data-src="samples/img/s0-04.jpg"><span>小怪獸自動旋轉</span></div>
      <div data-source="samples/s0-05.json"><img data-src="samples/img/s0-05.jpg"><span>小怪獸移動時碰到邊緣反彈</span></div>
      <div data-source="samples/s0-06.json"><img data-src="samples/img/s0-06.jpg"><span>小怪獸報時 ( 小時鐘 )</span></div>
      <div data-source="samples/s0-07.json"><img data-src="samples/img/s0-07.jpg"><span>小怪獸比賽數字大小</span></div>
      <div data-source="samples/s0-08.json"><img data-src="samples/img/s0-08.jpg"><span>小怪獸講出隨機話語</span></div>
      <div data-source="samples/s0-09.json"><img data-src="samples/img/s0-09.jpg"><span>小怪獸上下移動</span></div>
      <div data-source="samples/s0-10.json"><img data-src="samples/img/s0-10.jpg"><span>點擊小怪獸講話發聲</span></div>
      <div data-source="samples/s0-11.json"><img data-src="samples/img/s0-11.jpg"><span>小怪獸追著滑鼠移動並旋轉</span></div>
      <div data-source="samples/s0-12.json"><img data-src="samples/img/s0-12.jpg"><span>小怪獸隨機移動，若互相碰到會講話</span></div>
      <h3>進階控制</h3>
      <div data-source="samples/s1-01.json"><img data-src="samples/img/s1-01.jpg"><span>小怪獸邊移動邊旋轉</span></div>
      <div data-source="samples/s1-02.json"><img data-src="samples/img/s1-02.jpg"><span>小怪獸自動依序改變尺寸</span></div>
      <div data-source="samples/s1-03.json"><img data-src="samples/img/s1-03.jpg"><span>聲控改變小怪獸尺寸</span></div>
      <div data-source="samples/s1-04.json"><img data-src="samples/img/s1-04.jpg"><span>樂透電腦自動選號</span></div>
      <div data-source="samples/s1-05.json"><img data-src="samples/img/s1-05.jpg"><span>小怪獸依序講話</span></div>
      <div data-source="samples/s1-06.json"><img data-src="samples/img/s1-06.jpg"><span>小怪獸詢問姓名</span></div>
      <div data-source="samples/s1-07.json"><img data-src="samples/img/s1-07.jpg"><span>輸入文字指定小怪獸講話</span></div>
      <div data-source="samples/s1-08.json"><img data-src="samples/img/s1-08.jpg"><span>小怪獸連續問答</span></div>
      <div data-source="samples/s1-09.json"><img data-src="samples/img/s1-09.jpg"><span>小怪獸學九九乘法</span></div>
      <div data-source="samples/s1-10.json"><img data-src="samples/img/s1-10.jpg"><span>小怪獸語音朗讀逐字稿</span></div>
      <div data-source="samples/s1-11.json"><img data-src="samples/img/s1-11.jpg"><span>鍵盤操控小怪獸，碰到其他小怪獸就說話</span></div>
      <div data-source="samples/s1-12.json"><img data-src="samples/img/s1-12.jpg"><span>小怪獸描述舞台尺寸，改變高度時改變顏色</span></div>
      <h3>Webduino Bit 物聯網入門</h3>
      <div data-source="samples/bit-s-01.json"><img data-src="samples/img/bit-s-01.jpg"><span>矩陣 LED 顯示圖形</span></div>
      <div data-source="samples/bit-s-02.json"><img data-src="samples/img/bit-s-02.jpg"><span>矩陣 LED 心跳動畫</span></div>
      <div data-source="samples/bit-s-05.json"><img data-src="samples/img/bit-s-05.jpg"><span>點擊小怪獸切換圖案</span></div>
      <div data-source="samples/bit-s-03.json"><img data-src="samples/img/bit-s-03.jpg"><span>按鈕開關切換剪刀、石頭、布</span></div>
      <div data-source="samples/bit-s-04.json"><img data-src="samples/img/bit-s-04.jpg"><span>按鈕開關控制小怪獸尺寸</span></div>
      <div data-source="samples/bit-s-06.json"><img data-src="samples/img/bit-s-06.jpg"><span>按鈕開關控制小怪獸自動旋轉、停止旋轉</span></div>
      <div data-source="samples/bit-s-07.json"><img data-src="samples/img/bit-s-07.jpg"><span>小怪獸講出光度和溫度</span></div>
      <div data-source="samples/bit-s-08.json"><img data-src="samples/img/bit-s-08.jpg"><span>光度切換矩陣 LED 圖形</span></div>
      <div data-source="samples/bit-s-09.json"><img data-src="samples/img/bit-s-09.jpg"><span>蜂鳴器播放音樂</span></div>
      <div data-source="samples/bit-s-10.json"><img data-src="samples/img/bit-s-10.jpg"><span>點擊不同小怪獸，播放不同音樂</span></div>
      <div data-source="samples/bit-s-11.json"><img data-src="samples/img/bit-s-11.jpg"><span>旋轉開發板切換圖案</span></div>
      <div data-source="samples/bit-s-12.json"><img data-src="samples/img/bit-s-12.jpg"><span>電子骰子</span></div>
      <h3>Webduino Bit 物聯網進階</h3>
      <div data-source="samples/bit-a-01.json"><img data-src="samples/img/bit-a-01.jpg"><span>輸入文字控制燈號</span></div>
      <div data-source="samples/bit-a-02.json"><img data-src="samples/img/bit-a-02.jpg"><span>燈號依序水平移動</span></div>
      <div data-source="samples/bit-a-03.json"><img data-src="samples/img/bit-a-03.jpg"><span>燈號依序繞著周圍移動</span></div>
      <div data-source="samples/bit-a-04.json"><img data-src="samples/img/bit-a-04.jpg"><span>燈號水平反彈移動</span></div>
      <div data-source="samples/bit-a-05.json"><img data-src="samples/img/bit-a-05.jpg"><span>燈號反彈球效果</span></div>
      <div data-source="samples/bit-a-06.json"><img data-src="samples/img/bit-a-06.jpg"><span>鍵盤操控燈號移動</span></div>
      <div data-source="samples/bit-a-07.json"><img data-src="samples/img/bit-a-07.jpg"><span>轉動開發板控制燈號移動</span></div>
      <div data-source="samples/bit-a-08.json"><img data-src="samples/img/bit-a-08.jpg"><span>加速度拳力偵測器</span></div>
    </div>
  </div>
</div>
<div id="right-area">
  <span id="simulator-reset">↻</span>
  <div id="right-bar-area">
    <div id="right-area-resize-bar"></div>
  </div>
  <div id="right-area-toggle"><i class="icon-chevron-with-circle-right"></i></div>
  <iframe id="simulator-frame" src="simulator/dist/index.html"></iframe>

  <div id="demo-area">
    <div id="demo-resize-btn"><i class="icon-enlarge"></i></div>
    {{!-- <div class="resize-area resize-bar-left"></div>
    <div class="resize-area resize-bar-right"></div>
    <div class="resize-area resize-bar-bottom"></div>
    <div class="resize-area resize-bar-top"></div>
    <div class="resize-area resize-bar-top-left"></div>
    <div class="resize-area resize-bar-top-right"></div>
    <div class="resize-area resize-bar-bottom-left"></div>
    <div class="resize-area resize-bar-bottom-right"></div> --}}
    <div class="demo-area-content">
      {{!-- <div class="close-btn"></div>
      <h4>{{demoAreaTitle}}</h4>
      <span>{{demoAreaChoose}}</span> --}}
      <select id="demo-select" style="display:none;">
        <option value="demo-edu">{{demoAreaSelect1}}</option>
      </select>
    </div>
  </div>
</div>
<div id="simulator-area" class="init">
  <div class="resize-area resize-bar-left"></div>
  <div class="resize-area resize-bar-right"></div>
  <div class="resize-area resize-bar-bottom"></div>
  <div class="resize-area resize-bar-top"></div>
  <div class="resize-area resize-bar-top-left"></div>
  <div class="resize-area resize-bar-top-right"></div>
  <div class="resize-area resize-bar-bottom-left"></div>
  <div class="resize-area resize-bar-bottom-right"></div>
  <div class="simulator-area-content">
    <div class="close-btn"></div>
    <div class="icon-enlarge"></div>
    <div class="icon-shrink"></div>
  </div>
</div>
<div id="content_xml" class="content"></div>